@use "~arccorp-vars/dist/scss/main.scss";
@import "../../node_modules/simplebar/dist/simplebar.min.css";

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.9;
}

.simplebar-scrollbar::before {
  background: #189bb0;
}

.simplebar-track.simplebar-vertical {
  background: #dddddd;
  background: rgba(221, 221, 221, 0.7);
  border-radius: 7px;
}

.data-panel {
  height: auto !important;
  margin-top: 0;
}

.data-panel__inside {
  display: none;
}

.data-panel .background {
  position: relative;
}

.primary-nav__after,
.primary-nav__before {
  display: none;
}

.data-panel + footer {
  margin-top: 0 !important;
}

.covidGraphContainer {
  margin-top: 60px;
}

#app {
  color: #414042;
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;

  .loading {
    vertical-align: middle;
    text-align: center;
    width: 100%;
    .loading-icon {
      color: #dddddd;
      display: block;
      font-size: 70px;
      margin: 0 auto;
    }
  }

  .row {
    max-width: 100%;
  }

  .ctaBtn {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.amd-page {
  display: block;
  width: 100%;
  padding-bottom: 60px;
  min-height: 100vh;

  h2 {
    font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
  }
}

.amd-eyebrow {
  text-transform: uppercase;
  font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
}

a.amd-feed-link {
  font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.amd-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 20px;
  margin: 30px 15px 0;
  height: 400px;
  overflow: hidden;
}

.amd-feed {
  font-size: 14px;
  max-height: 250px;
  overflow-y: scroll;
}
