@use "~arccorp-vars/dist/scss/main.scss";
@import '../../node_modules/simplebar/dist/simplebar.min.css';

.simplebar-scrollbar.simplebar-visible:before {
  opacity: .9;
}

.simplebar-scrollbar::before {
  background: #189bb0;
}

.simplebar-track.simplebar-vertical {
  background: #dddddd;
  background: rgba(221,221,221,.7);
  border-radius: 7px;
}

.data-panel {
  height: auto !important;
  margin-top: 0;
}

.data-panel__inside {
  display: none;
}

.data-panel .background {
  position: relative;
}

.primary-nav__after,
.primary-nav__before {
  display: none;
}

.data-panel + footer {
  margin-top: 0 !important;
}

.covidGraphContainer {
  margin-top: 60px;
}

#app {
  color: #414042;
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;

  .loading {
    vertical-align: middle;
    text-align: center;
    width: 100%;
    .loading-icon {
      color: #dddddd;
      display: block;
      font-size: 70px;
      margin: 0 auto;
    }
  }
}

.amd-page {
  display: block;
  width: 100%;
}